# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore environment variables
.env

# Ignore Next.js build output
.next

# Ignore build directories
build

# Ignore any other files you want
.DS_Store
